.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    flex-flow: column;
}
/* chon bang class */

html, body {
    width: 100%;
    height: 100%;
}

button {
    background: green;
    width: 50%;
    height: 40px;
}
/* chon bang the tag */
#h1 {
    color: blue;
}

.screen {
    background: red;
    border-radius: 1rem;
    width: 50%;
    height: 40px;
}
.op {
    width: 100%;
    height: 50px;
}

.number1 {
    width: 40%;
    height: 40px;
}